{
  "$entity": "signal",
  "OwnerId": arg("ownerId"),
  "Title": "Stock Level Warnings",
  "Description": "Created by `seqcli sample setup`",
  "Filters": [
    {
      "Description": null,
      "DescriptionIsExcluded": false,
      "Filter": "@EventType in [4029526114, 1918830704]",
      "FilterNonStrict": "@EventType in [0xF02DB062, 0x725F0870]"
    }
  ],
  "Columns": [],
  "IsProtected": false,
  "Grouping": "Inferred",
  "ExplicitGroupName": null
}