{
  "$version": 1,
  "$entity": "signal",
  "OwnerId": arg("ownerId"),
  "Title": "Not Found",
  "Description": "Created by `seqcli sample setup`",
  "Filters": [
    {
      "Description": null,
      "DescriptionIsExcluded": false,
      "Filter": "StatusCode = 404",
      "FilterNonStrict": null
    }
  ],
  "Columns": [],
  "IsProtected": false,
  "Grouping": "Inferred",
  "ExplicitGroupName": null
}