{
  "$entity": "signal",
  "Title": "Bad Request",
  "Description": "Created by `seqcli sample setup`",
  "Filters": [
    {
      "Description": "Created by `seqcli sample setup`",
      "DescriptionIsExcluded": false,
      "Filter": "StatusCode = 400",
      "FilterNonStrict": null
    }
  ],
  "Columns": [],
  "IsProtected": false,
  "IsIndexSuppressed": false,
  "Grouping": "Inferred",
  "ExplicitGroupName": null,
  "OwnerId": null
}