{
  "$entity": "signal",
  "Title": "HTTP Requests",
  "Description": "Created by `seqcli sample setup`",
  "Filters": [
    {
      "Description": "Created by `seqcli sample setup`",
      "DescriptionIsExcluded": false,
      "Filter": "@EventType = 0xe80d5c02",
      "FilterNonStrict": "@EventType = 0xE80D5C02"
    }
  ],
  "Columns": [],
  "IsProtected": false,
  "IsIndexSuppressed": false,
  "Grouping": "None",
  "ExplicitGroupName": null,
  "OwnerId": null
}