{
  "$entity": "signal",
  "Title": "Order Archived",
  "Description": "Created by `seqcli sample setup`",
  "Filters": [
    {
      "Description": "Created by `seqcli sample setup`",
      "DescriptionIsExcluded": false,
      "Filter": "@EventType = 0xbf71696d",
      "FilterNonStrict": null
    }
  ],
  "Columns": [],
  "IsProtected": false,
  "IsIndexSuppressed": false,
  "Grouping": "Explicit",
  "ExplicitGroupName": "Ordering",
  "OwnerId": null
}