{
  "$version": "1",
  "$entity": "signal",
  "OwnerId": arg("ownerId"),
  "Title": "Internal Server Error",
  "Description": "Created by `seqcli sample setup`",
  "Filters": [
    {
      "Description": null,
      "DescriptionIsExcluded": false,
      "Filter": "StatusCode = 500",
      "FilterNonStrict": null
    }
  ],
  "Columns": [],
  "IsProtected": false,
  "Grouping": "Explicit",
  "ExplicitGroupName": "StatusCode"
}